.botonera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.btnCarrito {
    width: 120px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--salmon);
    color: var(--grisClaro);
    box-shadow: 8px 8px 8px gray;
}

.btnCarrito:hover {
    background-color: var(--grisClaro);
    color: var(--salmon);
}

.listaDeCompras {
    display: flex;
    flex-direction: column;
}

.renglonItemCarrito {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    border-bottom: dotted 1px lightgrey;
}

.dataProductoCarrito {
    width: 75%;
}

.eliminarItemCarrito {
    color: red;
    cursor: pointer;
    font-weight: bolder;
}

.eliminarItemCarrito:hover {
    color: white;
}


.totalCompra {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}