body {
    overflow: hidden;
    background-color: var(--fondo);
    height: 100vh;
    display: grid;
    grid-template-columns: 10vw 60vw 30vw;
    grid-template-rows: minmax(10vh,10vh) minmax(20vh,20vh) minmax(70vh,70vh);
    grid-template-areas: 
                        'hLogo hLogo hCarrito'
                        'sideMarcas searcher searcher'
                        'sideMarcas results results';
    /* transition: 0.5s ease-in-out; */
    
}


.hLogo {
    background-color: var(--fondo2);
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    padding-left: 50px;
    align-items: center;
    border-bottom: dotted 1px var(--salmon);

    grid-area: hLogo;
    /* background-color: brown; */
}


.hCarrito {
    background-color: var(--fondo2);
    grid-area: hCarrito;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: dotted 1px var(--salmon);
    

    /* background-color: darkslategrey; */
}

.c3 {
    width: 20%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-right: 10%;
    cursor: pointer;
    user-select: none;
}

#vidrios {
    display: flex;
    flex-direction: row;
}

.cantidad {
    margin-left: 3px;
    /* background-color: red; */
    padding: 2px;
    color:crimson;
    border-radius: 3px;
    font-weight: bold;
}


.listaCarrito {
    /* background-color: black; */
    grid-area: listaCarrito;
    overflow: auto;
}

.mSearcher {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    grid-area: searcher;
}

.R1-searchForm, .R2-searchForm {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.R2-searchForm {
    margin-top: 10px;
}

.searcher {
    width: 450px;
    /* min-width: 300px; */
    height: 50px;
    font-size: 30px;
    text-align: center;
    color: var(--salmon);
    background-color: var(--grisClaro);
    border-radius: 4px;
    border: none;
    padding: 5px;
    box-shadow: 8px 8px 8px gray;
}

.btnSearcher {
    height: 50px;
    font-size: 15px;
    text-align: center;
    color: var(--grisClaro);
    background-color: var(--salmon);
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 8px 8px 8px gray;
}

.btnSearcher:hover {
    color: var(--salmon);
    background-color: var(--grisClaro);
}

.modelSelect {
    width: 515px;
    /* min-width: 365px; */
    height: 40px;
    font-size: 20px;
    /* text-align: center; */
    color: var(--salmon);
    background-color: var(--grisClaro);
    border-radius: 4px;
    border: none;
    padding: 5px;
    display: none;
    box-shadow: 8px 8px 8px gray;
}

.sideMarcas {
    background-color: var(--fondo2);
    grid-area: sideMarcas;
}


.lista {
    padding-top: 40px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: results;
    overflow: auto;
}



.itemDeStock {
    color: rgb(80,80,80);
    margin: 5px;
    border: solid 1px var(--salmon);
    border-radius: 4px;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.codigo {
    font-size: 15px;
    font-weight: bold;
}

.idsC1 {
    width: 50%;
}

.itemDatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
}

.itemImagen {
    margin-left: 50px;
    /* background-color: blue; */
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
}

.itemImagen:hover {
    background-color: var(--salmon);
}

.controles {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
}

.AgregaACarrito {
    height: 50px;
    border: none;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.AgregaACarrito:hover {
    background-color: var(--salmon);
}

.listaCarrito {
    padding: 6px;
    border-left: dotted 1px grey;
    grid-area: listaCarrito;
    /* background-color: hotpink; */
    background-color: var(--fondo2);
}

.modalImagenAgrandada {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background-color: rgba(150,150,150,.9);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 4;
}